//colors
$main-color: #094a90;
$primary-color: #094a90;
$secondary-color: #e8f0fe;
$three-color: #a71989;
$fourth-color: #603ce6;
$input-color-border: #b5bac5;
$color-black: #000;

// fonts
$font-family-main: "RubikMedium", sans-serif;

// path img
$base-path-url-image: "../public/images/";

// alerts
$alert-failed-color: #ff0000;
$alert-failed-background-color: #f9f0ef;
